.nav {
    /* margin-top: 30px; */
    
    position: absolute;
    width: 100%;
    border-radius: 10px;
    padding: 15px 35px;
    background-color:rgba(89, 53, 105, 0.973);
    left: 0px;
    bottom: 0px;
    /* border-top: 1px solid #f7f7f7; */
  
  }
  
  .nav .nav__list {
    display: flex;
    justify-content: space-between;

  }
  
  .nav i {
    font-size: 20px;
    color: white;
  }

  ul {
    list-style: none;
    /* padding-inline-start: 0px; */
}
/*  */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
    background-color: rgba(243, 189, 236, 0.507);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}


/* 대박, > form하나만 하니까 만사 오케이. 미쳤따!!! */
.form2{
    width: 400px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
}

.form2 input{
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: white;
    border: none;
    background-color: rgba(243, 189, 236, 0.507);
    border-bottom: 2px solid white;
    outline: none;
}

button{
    background-color: rgb(236, 222, 252);
    color: rgb(95, 44, 119);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-self: center; 
    /* 이건 버튼 자체를 중앙 정렬 */
    align-items: center;
    /* 이건 버튼 내의 Login 글자를 중앙 정렬 */
    margin-top: 40px;
    justify-content: center;
    font-size: 18px;
    /* text-align: center; */
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    transform: translateY(8px);
}


.main_header{
    display: flex;
    text-align: center;
    align-items: center;
    color:rgb(219, 167, 252);
    float: left;
    font-size: 28pt;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
   font-family: 'Finger Paint', cursive;

}


.letter{
    text-align: right;
    font-size: 25px;
    color: rgb(52, 5, 80);
    font-family: 'HY바다L';
}

a{
    text-decoration: none;
}

.container{
    padding: 20px 30px 20px 30px;
    height: 500px;
}


.make_pet, .my_pet{
    
    border: 1px solid rgb(92, 14, 122);
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_pet{
    margin-top:10px;
    display: inline-flex;
}
.plus_btn{
    flex:1 ;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
h3{
    flex: 1;
    display: flex;
    align-items: center;
}
