.nav {
    margin-top: 15px;
    margin-bottom: 10px;
    /* position: absolute; */
    width: 100%;
    border-radius: 13px;
    padding: 15px 35px;
    background-color:rgba(89, 53, 105, 0.973);
    left: 0px;
    bottom: 0px;
    /* border-top: 1px solid #f7f7f7; */
  
  }
  
  .nav .nav__list {
    display: flex;
    justify-content: space-between;

  }
  
  .nav i {
    font-size: 20px;
    color: white;
  }

  ul{
    list-style: none;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: sans-serif;
    background-color: rgba(243, 189, 236, 0.507);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  
}


/* 대박, > form하나만 하니까 만사 오케이. 미쳤따!!! */
.form2{
    width: 400px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    border-radius: 15px;
    padding: 0 px 0 px;
    background-color: white;
    box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
}

.form2 input{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    color: white;
    border: none;
    background-color: rgba(243, 189, 236, 0.507);
    border-bottom: 2px solid white;
    outline: none;
}

button{
    background-color: rgb(236, 222, 252);
    color: rgb(95, 44, 119);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-self: center; 
    /* 이건 버튼 자체를 중앙 정렬 */
    align-items: center;
    /* 이건 버튼 내의 Login 글자를 중앙 정렬 */
    margin-top: 20px;
    margin-bottom: 25px;
    justify-content: center;
    font-size: 18px;
    /* text-align: center; */
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    transform: translateY(8px);
}

/* .btn{

  border-radius: 70px;
  background-color: rgba(241, 225, 250, 0.795);
  width: 50px;
  height: 30px;
  color: black;
  font-weight: bolder;
  float: right;
} */

.main_header{
    display: flex;
    text-align: center;
    align-items: center;
    color:rgb(219, 167, 252);
    float: left;
    font-size: 28pt;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
   font-family: 'Finger Paint', cursive;

}


.letter{
    text-align: left;
    font-size: 23px;
    color: rgb(52, 5, 80);
    background-color:#f6e2fd;
    font-family: 'HY바다L';

}