{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPROFILE</title>
     <!-- 로고 타이틀 폰트!! -->
     <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
            
    <script src="https://kit.fontawesome.com/703c3b8202.js" crossorigin="anonymous"></script>
    <!-- <link rel="shortcut icon" type="static/image/" href="logo.png"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/myprofile.css' %}?v=1.0">
 
</head>

<body>

    <p></p>
    <!-- {{myprofile.user}} -->
    <!-- <input type="hidden" name="user" value='{{user.id}}'/> 주소어뜨케넣기-->

    <div class="form2">

        <h3 class="main_header">
            <img src="{% static 'images/logo.png' %}" width='70' height='60'>
            PIT- A -PET&nbsp; 
            </h3>
      


        <div class="container">
            <!-- {% csrf_token %} -->
            {%if myprofile.pet_image%}
            <img src='{{myprofile.pet_image.url}}' width="120" style="border-radius:80%"/>
            <!-- 프로필사진등록안하면 아래사진으로 -->
            {%else%}
            <img src='https://ww.namu.la/s/6e2169ee0c893650ae2e9460f5cb1a1d21d1c0211d15f06716793ebed1cd82251a1ccfff20848faa68778375e3f52caf4e1228dab914198b7b06bb208a6b4d528dce882c960642997c258bfa4f3fa19a81f31fb935f83dac09cb11977e1b1d35'
                width="120" style="border-radius:80%"/>
            {%endif%}
            
            <p class="letter">{{myprofile.pet_name}}
                ({{myprofile.pet_type}})
                <br>
            follow 42 | follower 42</p>
            <!-- {{loc}} -->
            <br> 
          
            <a href="{% url 'profileinform' %}"><input type="submit" value="profile inform"></a>
            <br><br>
            
            {% for content in photo %}

            <div class="my_pet">
                <img src="{{content.plus_image.url}}" width='90px' height='90px'>
            </div>

            {% endfor %}


            <div class="make_pet">
                <a href="{% url 'photoplus' %}">
                    <div class="plus_btn">+</div>
                </a>

            </div>

        </div>

        <!-- 임시버튼---나중에 삭제 -->

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="{% url 'myprofile' %}">
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="{% url 'matching' %}">
                        <i class="fas fa-comment"></i>
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="{% url 'home' %}">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="{% url 'map_home' %}">
                        <i class="fas fa-map-marked-alt"></i>
                    </li>
                    <li class="nav__list-item">
                        <a href="{% url 'search' %}">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                    </li>
                </ul>
        </nav>
            </div>
        </div>

    </div>


</body>

</html>