{% load static %}

<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>


    <div class="form2">

        <form action="{% url 'register'%}" method="POST">
            <h1>Sign-Up</h1>
            {% csrf_token %}


            <input type="text" name='username' id="email" autocomplete="off" required>
            <label for="email" class="labelEmail">
                <span class="contentEmail">ID</span>
            </label>
            <br>
            <input type="password" name="password1" id="pass" required>
            <label for="pass" class="labelPass">
                <span class="contentPass">password</span>
            </label>
            <br>

            <input type="password" name="password2" id="pass" required>
            <label for="pass" class="labelPass">
                <span class="contentPass">password 확인</span>
            </label>
            <br><br>
            <br>

            <!--  -->
            <input type="checkbox" name="ispermit" id="pass" required>
            <label for="check" class="labelcheck">
                <span class="contentCheck">
                    위치 정보 수집 동의
                </span>
            </label>



            <br>
            <button class="btn"><span>NEXT</span></button>


        </form>
    </div>

</body>

</html>