{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPROFILE</title>
     <!-- 로고 타이틀 폰트!! -->
     <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
            
    <script src="https://kit.fontawesome.com/703c3b8202.js" crossorigin="anonymous"></script>
    <!-- <link rel="shortcut icon" type="static/image/" href="logo.png"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/myprofile.css' %}?v=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/myprofile2.css' %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search2.css' %}">
</head>

<body>

    <p></p>
    <!-- {{myprofile.user}} -->
    <!-- <input type="hidden" name="user" value='{{user.id}}'/> 주소어뜨케넣기-->

    <div class="form2">

        <h3 class="main_header">
            <img src="{% static 'images/logo.png' %}" width='70' height='60'>
            PIT- A -PET&nbsp; 
            </h3>
      


        <div class="container">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="키워드를 입력하세요">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div>
           </div>
         
           <div class="popular word">
             <div class="pp_word">
                 최근 검색어
             </div>
         
             <div class="keyword_box">강아지 간식</div>
             <div class="keyword_box">고양이 사료</div>
             <div class="keyword_box">24시 동물병원</div>

        </div>
        <div class="popular word">
            <div class="pp_word">
                인기 검색어
            </div>
        
            <div class="keyword_box">강아지 간식</div>
            <div class="keyword_box">고양이 사료</div>
            <div class="keyword_box">24시 동물병원</div>

       </div>
       
       <button id="write_btn">글쓰기</button>
        <!-- 임시버튼---나중에 삭제 -->

        <div class="nav">
            <div class="nav_body">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <i class="far fa-user"></i>
                    </li>
                    <li class="nav__list-item">
                        <i class="fas fa-comment"></i>
                    </li>
                    <li class="nav__list-item">
                        <i class="fas fa-home"></i>
                    </li>
                    <li class="nav__list-item">
                        <i class="fas fa-map-marked-alt"></i>
                    </li>
                    <li class="nav__list-item">
                        <a href="{% url 'search' %}">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</body>

</html>